body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: url(//subtlepatterns.com/patterns/scribble_light.png);
font-family: Calluna, Arial, sans-serif;
min-height: 1000px;
}